* {
  margin: 0;
}

.standings-title {
  text-align: center;
  border: solid red 3px;
}

.standings-tables{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.AL-standings-table, .NL-standings-table {
  border: 2px solid blue;
  border-radius: 10px;
}

.AL-standings-table td , .NL-standings-table td{
  padding: 10px 10px;
  border: 2px solid red;
}

.AL-standings-table th , .NL-standings-table th {
  padding: 10px 15px;
}