* {
  margin: 0;
}

/* CSS FOR STANDINGS PAGE */
.standings-title {
  text-align: center;
  border: solid red 3px;
}

.standings-tables{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.AL-standings-table, .NL-standings-table {
  border: 2px solid blue;
  border-radius: 10px;
}

.AL-standings-table td , .NL-standings-table td{
  padding: 10px 10px;
  border: 2px solid red;
}

.AL-standings-table th , .NL-standings-table th {
  padding: 10px 15px;
}

.standings-table-body a {
  text-decoration: none;
}
.standings-table-body a:hover {
  background-color: grey;
}

/* CSS FOR NavBar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: pink ;
  padding: 10px 10px;
}

.navbar-form{
  display: flex;
  margin-top: 15px;
  margin-left: 40%;
  gap: 20px;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10em;
  margin-top: 15px;
 
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  cursor: pointer;
  color: red;
}

